
<%= render "books/list", book: @book, user: @user %>

<h1>Book detail</h1>
<%= link_to user_path(@books.user.id) do %>
<%= attachment_image_tag @books.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<%= @books.user.name %>
<% end %>

<%= @books.title %>
<%= @books.body %>

<% if @user.id == current_user.id %>
<%= link_to "Edit", edit_book_path %>
<%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm"=> "本当に削除しますか" %>
<% end %>